image-carousel {
  display: block;
  width: 60%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
image-carousel .carousel-slide {
  display: flex;
  width: 100%;
  height: auto;
}
image-carousel .carousel-slide img {
  padding: auto;
  width: 100%;
  height: auto;
}
.carousel-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  left: 5%;
  cursor: pointer;
}
.carousel-next {
  position: absolute;
  top: 50%;
  z-index: 5;
  right: 5%;
  cursor: pointer;
}

image-carousel button {
  background: none;
  border: none;
}
